---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import SectionCard from "../components/sectionCard.astro";
import HeadersSection from "../components/headersSection.astro";
import { Image } from "astro:assets";
import Mission from "../assets/mision.svg";
import Vision from "../assets/vision.svg";
import Cards from "../components/cards.astro";
import awardsCardsContent from "../data/awardsCardsContent.js";
import HistoryCard from "../components/HistoryCard.astro";
import teamCardsContent from "../data/teamCardsContent";
import TeamCards from "../components/TeamCards.astro";
---

<Layout>
  <Navbar />
  <section class="p-5">
    <SectionCard
      HeaderText="Descripción general"
      title="Bienvenidos al Colegio de Educación por Ciclos de Oriente"
      description="ofrecemos una formación integral y flexible que se adapta a las necesidades de cada etapa escolar, permitiendo que los estudiantes avancen a su propio ritmo y fortalezcan sus competencias académicas, sociales y emocionales. Contamos con un equipo docente comprometido, estrategias pedagógicas actualizadas y un ambiente seguro e inclusivo que promueve valores como el respeto, la responsabilidad y la colaboración. "
    />
  </section>
  <section class="p-5 flex flex-col gap-5">
    <HeadersSection text="Mision & Vision" />
    <h2 class="text-center font-bold text-3xl">Nuestra Mision y Vision</h2>
    <p class="text-center font-medium text-[#333333] text-lg">
      Formamos personas integrales y autónomas, guiadas por valores y un modelo
      educativo flexible que impulsa su crecimiento y su capacidad de
      transformar su entorno.
    </p>
    <!-- Mission & Vision container -->
    <div
      class="flex flex-col gap-10 lg:flex-row lg:justify-center lg:items-stretch lg:gap-8"
    >
      <!-- Mission Card -->
      <div
        class="border-2 border-black rounded-xl p-7 flex flex-col gap-7 lg:flex-1 lg:max-w-[600px]"
      >
        <!-- Header Container -->
        <div class="w-full flex justify-between items-center">
          <h3 class="text-3xl font-bold">Mision</h3>
          <figure class="flex-shrink-0">
            <Image
              src={Mission}
              alt={"mision de ceco"}
              class="w-12 h-12 lg:w-14 lg:h-14"
            />
          </figure>
        </div>
        <p
          class="text-[#333333] font-medium text-base lg:text-lg leading-relaxed"
        >
          Guiándonos por nuestra filosofía y nuestros valores, EL COLEGIO DE
          EDUCACIÓN POR CICLOS DE ORIENTE-CECO, asume la labor educativa para
          contribuir en el desarrollo de sus educandos como seres humanos, con
          principios Cristianos, de libertad, de orden y de justicia; atendiendo
          las modernas teorías pedagógicas, en procura de la formación de un ser
          crítico, autónomo, reflexivo e investigador, que sea capaz de
          comprender y construir desde la ciencia básicas, humanas y sociales,
          las artes, la tecnología y la innovación, las mejores condiciones de
          vida para sí mismo y los demás.
        </p>
      </div>

      <!-- Vision Card -->
      <div
        class="border-2 border-black rounded-xl p-7 flex flex-col gap-7 lg:flex-1 lg:max-w-[600px]"
      >
        <!-- Header Container -->
        <div class="w-full flex justify-between items-center">
          <h3 class="text-3xl font-bold">Vision</h3>
          <figure class="flex-shrink-0">
            <Image
              src={Vision}
              alt={"vision de ceco"}
              class="w-12 h-12 lg:w-14 lg:h-14"
            />
          </figure>
        </div>
        <p
          class="text-[#333333] font-medium text-base lg:text-lg leading-relaxed"
        >
          para el 2032 nos visionamos como una Institución líder en nuestra área
          de influencia, con un sistema de educación por ciclos para adultos y
          jóvenes en extra edad, con calidad. De igual manera nos vemos como
          generadores de agentes transformadores de cambios, que ayuden a
          dignificar al ser humano y a la sociedad.
        </p>
      </div>
    </div>
  </section>
  <!-- Awards Section -->
  <section class="p-5 flex flex-col gap-10 justify-center items-center">
    <HeadersSection text="Nuestros logros" />
    <h2 class="font-bold text-3xl text-center">
      Nuestros premios y reconocimientos
    </h2>
    <p class="text-center font-medium text-lg mb-5">
      Nos sentimos orgullosos de los hitos alcanzados a lo largo de nuestra
      trayectoria, que reflejan el compromiso con la calidad, la innovación y la
      inclusión educativa.
    </p>
    <!-- Cards Container -->
    <div class="flex flex-col gap-15 lg:flex-row">
      {
        awardsCardsContent.map((card) => (
          <Cards
            icon={card.icon}
            title={card.title}
            description={card.description}
          />
        ))
      }
    </div>
  </section>
  <!-- Our History Section -->
  <section class="p-5">
    <!-- Principal Container -->
    <div class="flex flex-col gap-5 justify-center items-center">
      <HeadersSection text="Nuestro Camino de Progreso" />
      <h2 class="font-bold text-3xl text-center lg:text-5xl">
        Nuestra Historia
      </h2>
      <p class="font-medium text-lg text-center text-[#333333] lg:w-2/3">
        Desde sus inicios, el Colegio de Educación por Ciclos de Oriente ha
        trabajado con dedicación para ofrecer una formación sólida, humana y
        flexible, evolucionando continuamente para responder a las necesidades
        de sus estudiantes y de la comunidad.
      </p>
      <div class="p-7 border-2 rounded-xl flex flex-col gap-10 lg:p-20">
        <!-- Container History -->
        <div
          class="flex flex-col gap-5 items-center justify-center lg:flex-row lg:items-start lg:gap-8"
        >
          <!-- History Card -->
          <div class="shrink-0">
            <HistoryCard year="2023" />
          </div>

          <!-- Content -->
          <div class="flex flex-col gap-3 lg:flex-1">
            <h3 class="text-2xl font-bold text-center lg:text-left lg:text-3xl">
              Consolidación del Modelo
            </h3>
            <p
              class="text-[#333333] text-lg font-medium text-center lg:text-left lg:text-xl lg:leading-relaxed"
            >
              Consolidamos un modelo educativo moderno y flexible, reafirmando
              nuestro compromiso con la calidad, la inclusión y la
              transformación social.
            </p>
          </div>
        </div>

        <!-- 2017 -->
        <div
          class="flex flex-col gap-5 items-center justify-center lg:flex-row lg:items-start lg:gap-8"
        >
          <div class="shrink-0">
            <HistoryCard year="2017" />
          </div>
          <div class="flex flex-col gap-3 lg:flex-1">
            <h3 class="text-2xl font-bold text-center lg:text-left lg:text-3xl">
              Integración Tecnológica
            </h3>
            <p
              class="text-[#333333] text-lg font-medium text-center lg:text-left lg:text-xl lg:leading-relaxed"
            >
              Fortalecimos nuestros programas con recursos tecnológicos y
              estrategias innovadoras, impulsando el desarrollo integral de
              nuestros estudiantes.
            </p>
          </div>
        </div>

        <!-- 2012 -->
        <div
          class="flex flex-col gap-5 items-center justify-center lg:flex-row lg:items-start lg:gap-8"
        >
          <div class="shrink-0">
            <HistoryCard year="2012" />
          </div>
          <div class="flex flex-col gap-3 lg:flex-1">
            <h3 class="text-2xl font-bold text-center lg:text-left lg:text-3xl">
              Expansión Académica
            </h3>
            <p
              class="text-[#333333] text-lg font-medium text-center lg:text-left lg:text-xl lg:leading-relaxed"
            >
              Ampliamos nuestra oferta académica e incorporamos nuevos enfoques
              pedagógicos basados en la autonomía y el aprendizaje
              significativo.
            </p>
          </div>
        </div>

        <!-- 2005 -->
        <div
          class="flex flex-col gap-5 items-center justify-center lg:flex-row lg:items-start lg:gap-8"
        >
          <div class="shrink-0">
            <HistoryCard year="2005" />
          </div>
          <div class="flex flex-col gap-3 lg:flex-1">
            <h3 class="text-2xl font-bold text-center lg:text-left lg:text-3xl">
              Fundación y Propósito
            </h3>
            <p
              class="text-[#333333] text-lg font-medium text-center lg:text-left lg:text-xl lg:leading-relaxed"
            >
              Iniciamos nuestro proyecto educativo con el propósito de brindar
              oportunidades de formación a jóvenes y adultos en extra edad.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Our Team -->
  <section class="p-5 flex flex-col gap-5">
    <HeadersSection text="Nuestros Docentes Expertos" />
    <h2 class="font-bold text-4xl text-center">Nuestro Equipo Educativo</h2>
    <p class="font-medium text-lg text-center text-[#333333]">
      Nuestro equipo educativo está conformado por profesionales comprometidos
      con acompañar a jóvenes y adultos en su proceso de validación del
      bachillerato, brindando orientación, métodos flexibles y un acompañamiento
      cercano que facilita el aprendizaje significativo. Cada docente aporta
      experiencia, vocación y estrategias adaptadas para que los estudiantes
      avancen con confianza y culminen con éxito su formación.
    </p>
    <!-- Team Card Container -->
    <div class="flex flex-col gap-10 lg:grid lg:grid-cols-3 lg:gap-8">
      {
        teamCardsContent.map((card) => (
          <TeamCards
            image={card.image}
            name={card.name}
            title={card.title}
            description={card.description}
          />
        ))
      }
    </div>
  </section>
  <Footer />
</Layout>
