---
import { Image } from "astro:assets";
import star from "../assets/star.svg";
import type { ImageMetadata } from "astro";

interface Props {
  image: ImageMetadata;
  name: string;
  rating: number;
  details: string;
}

const { image, name, rating, details } = Astro.props;
---

<div
  class="border-2 p-6 md:p-8 lg:p-10 flex flex-col justify-between items-center gap-5 rounded-2xl bg-[#FFFFFF] shadow-lg h-full min-h-[400px]"
>
  <div class="flex flex-col items-center gap-5 flex-grow justify-center">
    <figure class="p-4 bg-[#FFF5F0] rounded-full border flex-shrink-0">
      <Image
        src={image}
        alt={name}
        class="w-10 h-10 object-cover rounded-full"
      />
    </figure>

    <p class="font-semibold text-xl">{name}</p>

    <!-- Stars -->
    <div class="flex gap-2 flex-shrink-0">
      {
        Array.from({ length: 5 }, (_, i) => (
          <Image
            src={star}
            alt="star"
            class={`w-4 h-4 ${i < rating ? "opacity-100" : "opacity-30"}`}
          />
        ))
      }
    </div>
  </div>

  <p
    class="text-center text-[#333333] font-medium text-sm md:text-base leading-relaxed"
  >
    {details}
  </p>
</div>
